#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2C3350;
  margin-top: 60px;
  padding-left: 10%;
  padding-right: 10%;
  color:black;
}

.input {
  border: 10px color:blue;
  border-radius: 10px;
}


.signout-btn {
  position: absolute;
  text-align: right;
  top: 60px;
  right: 40px;
}

.form {
  padding-left: 10%;
  padding-right: 10%;
}

.event-card {
  border: 2px solid: #2C3E50;
  margin-top:10px;
  border-radius: 4px;
}

.map {
  width: 100%;
  height: 100%;
}

.music_card {
  padding-top: 8px;
  padding-bottom: 8px;
}
